<?xml version="1.0" encoding="utf-8" ?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Primeiro Servlet</display-name>
    <description>Exemplo de servlet</description>

    <servlet>
        <servlet-name>PrimeiroServlet</servlet-name>
        <servlet-class>br.ufac.sgcm.PrimeiroServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PrimeiroServlet</servlet-name>
        <url-pattern>/primeiroServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExibeDados</servlet-name>
        <servlet-class>br.ufac.sgcm.ExibeDados</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExibeDados</servlet-name>
        <url-pattern>/exibeDados</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/erro.jsp</location>
    </error-page>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AcessoSeguro</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

</web-app>  